@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

@import "tailwindcss";

@theme {
  --font-family-quicksand: 'Quicksand', sans-serif;
}

@theme {
  --font-family-racing: 'Racing Sans One', sans-serif;
}